{% extends "template.html" %}

<title>TMDB data lookup</title>
<body>

    {% block main %}

    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
      
          <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
              <a class="toc item">
                <i class="sidebar icon"></i>
              </a>
              <a class="item" href="/">English</a>
              <a class="item" href="korean">Korean</a>
              
              
            </div>
          </div>

        
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">   
    <!-- <div class='ui container'> -->
        <br>
        <br>
        <br>
        <br>            
        <form action='/korean' method='post'>
            <div class="ui huge form">
                <input placeholder="K-Drama Title" name="title" type="text">
            </div>
        </form>          
        <br>
        <br>
        <br>
        <img class="visible content" src="{{ image }}">
        {{ message }}
        <br>
        <br>
            {{ num }}
        </div>
    </div>

    {% endblock %}
    </body>
   

</body>
